@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}

.label {
  position: fixed;
  padding: 4px;
  border: 1px solid #b3b3b3;
  background-color: #fff;
  /* opacity: 0.5; */

  bottom: 0;
  right: 0;
  z-index: 2;
  font-size: 0.75em;

  display: flex;
  align-items: end;
  flex-direction: column;
}

.label img {
  height: 1em;
}

.label p {
  font-size: 0.75em;
}

/*  ============= header ============= */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
header .nav-wrap {
  /* position */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* box model */
  padding: 0 2%;

  /* styling */
  background-color: #000;
  opacity: 70%;
}

header .nav-wrap .logo {
  /* background-color: aqua; */
}

header .nav-wrap .logo img {
  width: 150px;
}

header .nav-wrap nav {
  /* background-color: orange; */
  display: flex;
}

header .nav-wrap nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 0.75em;
  padding: 8px 6px;
  text-transform: uppercase;
}

header nav a:hover {
  background-color: #8b6c32;
  /* border-radius: 5px; */
}

header .top-nav {
  display: none;
}

/* ============= Banner ============= */
.banner {
  width: 100%;
  height: 100vh;
  /* background-image: url("https://www.village-bali.com/wp-content/uploads/2024/03/village-drone.jpeg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/village-drone.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .banner-content {
  padding: 0 5%;
  color: white;
  text-align: center;
}
.banner .title {
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 2em;
}

.banner .sub-title {
  font-size: 1.3em;
  margin-bottom: 2em;
}

.btn-hero {
  text-decoration: none;
  background-color: #795e2c;
  color: white;
  width: 25%;
  padding: 1em;
  margin-top: 1em;
  display: block;
  margin-inline: auto;
  border: 3px solid white;
  text-align: center;
}

.btn-hero:hover {
  background-color: #9b7735;
}

.banner-divider-content {
  margin-bottom: 2em;
}
/* ============= Our Room ============= */
.our-room {
  padding: 10%;
  color: #795e2c;
  background: #ececec;
  width: 100%;
}

.our-room .title-section {
  text-align: center;
  text-decoration: underline;
}

.our-room .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: 26px;
  justify-content: space-between;
  margin-bottom: 1em;
}

.our-room .card {
  width: 30%;
  transition: 0.3s;
  background: white;
  border: 1px solid #b3b3b3;
  margin-bottom: 2em;
}
.our-room .card:hover {
  cursor: pointer;
  box-shadow: 0px 7px 15px 6px rgba(119, 119, 119, 0.36);
  -webkit-box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 7px 15px 6px rgba(0, 0, 0, 0.36);
  border: 1px solid #9b7735;
  transform: translateY(-5px);
}

.our-room .card img {
  width: 100%;
}

.our-room .card h5 a {
  display: block;
  color: #795e2c;
  font-size: 1.5em;
  text-decoration: none;
  text-align: left;
  margin: 0.5em 0;
  padding: 1em;
}

.our-room .card h5 a:hover {
  text-decoration: underline;
}

.our-room .card ul {
  color: #4e4e4e;
  list-style-type: none;
  padding: 1em;
  padding-top: 0;
}

.our-room .form-join {
  display: grid;
  grid-template-columns: 25% 25% 25% 15%;
  gap: 1em;
  padding: 1em 0.5em;
  background-color: white;
  border: 1px solid #b3b3b3;
  align-items: end;
  justify-content: center;
}

.our-room .box {
  /* background-color: aqua; */
}
.form-join input[type='date'],
.form-join input[type='text'] {
  width: 100%;
  height: 4em;
  margin-top: 8px;
  padding: 1em;
  border: 3px solid #ccc;
  outline: none;
  transition: 0.5s;
}

.form-join input[type='date']:focus,
.form-join input[type='text']:focus {
  border: 3px solid #3d3d3d;
}

.btn-book {
  width: 100%;
  height: 3em;
  border: 3px solid #3d3d3d;
  background-color: #795e2c;
  color: white;
  padding: 0.5em;
  cursor: pointer;
}

.btn-book:hover {
  background-color: #9b7735;
}
/* ======= Location ========= */
.location {
  padding: 10%;
  color: #795e2c;
  /* height: 100vh; */
}

.location-wrap {
  display: grid;
  grid-template-columns: 40% 60%;
  /* background-color: #2196f3; */
  gap: 1em;
  padding: 2em 1em;
  align-items: center;
}

.location-item {
  /* border: 1px solid #4e4e4e; */
  text-align: left;
  transition: 0.3s;
}

.location-item .location-title {
  margin-bottom: 1em;
}

.location-item .location-content {
  text-align: justify;
  margin-bottom: 1em;
}

.location-item img {
  width: 100%;
  height: auto;
}

/* ===== explore ====== */
.explore {
  padding: 10%;
  color: #795e2c;
}
.explore-wrap {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  gap: 1em;
}

.explore-item .explore-title {
  margin-bottom: 1em;
}
.explore-item .explore-content {
  text-align: justify;
}

.explore-hero {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

.explore-hero .explore-hero-item img {
  width: 100%;
  height: auto;
}

/* ====== banner2 ====== */
.banner2 {
  width: 100%;
  height: 100vh;
  /* background-image: url("https://www.village-bali.com/wp-content/uploads/2024/03/village-drone.jpeg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/village-drone2.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: start;
}

.banner2 .banner-content {
  padding: 0 5%;
  color: white;
  text-align: start;
}
.banner2 .title {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 2em;
}

.banner2 .sub-title {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.btn-hero2 {
  text-decoration: none;
  background-color: #795e2c;
  /* border-radius: 2em; */
  color: white;
  width: 15em;
  padding: 1em;
  display: block;
  margin-top: 2em;
  text-align: center;
  border: 1px solid white;
  font-size: 1em;
}

.btn-hero2:hover {
  background-color: #9b7735;
  text-decoration: underline;
}

.footer {
  padding: 10%;
  background-color: #37322f;
  color: white;
}

.footer .footer-wrap {
  display: grid;
  grid-template-columns: 30% 30% auto;
  gap: 2em;
  margin-bottom: 1em;
}

.footer .footer-wrap .footer-item h2 {
  margin-bottom: 1em;
}
.footer .footer-wrap .footer-item p {
  text-align: justify;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1em;
}

.footer .footer-wrap .footer-item .footer-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
}

.footer .footer-wrap .footer-item .footer-gallery img {
  width: 100%;
  max-width: 7em;
  height: 6em;
  object-fit: cover;
  object-position: center;
  margin: 4px;
}

.footer .footer-wrap .footer-item .footer-gallery img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3;
}

.footer-copyright {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.fc-icon-wrap {
  display: flex;
  gap: 4px;
}

.fc-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: #9b7735;
  height: 2em;
  width: 2em;
}

.fc-icon-item:hover {
  opacity: 0.5;
  transition: 0.3;
  cursor: pointer;
}

.fc-icon-item a {
  text-decoration: none;
  color: aliceblue;
}

/* MOBILE */
/* 1 ~ 820 px */
@media (max-width: 820px) {
  .our-room .card-wrapper {
    flex-direction: column;
    gap: 2em;
  }
  .our-room .card {
    width: 100%;
  }

  .our-room .form-join {
    display: grid;
    grid-template-columns: 90%;
  }

  .our-room .location-wrap {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
  }

  .our-room .location-item .location-title,
  .our-room .location-item .location-content {
    text-align: center;
  }

  .explore .explore-wrap {
    grid-template-columns: auto;
  }
  .explore .explore-hero {
    justify-content: center;
    grid-template-columns: auto;
    gap: 0.5em;
  }

  .explore .explore-item .explore-title,
  .explore .explore-item .explore-content {
    text-align: center;
  }

  header .nav-wrap {
    /* align-items: center; */
    /* flex-direction: column; */
    display: none;
  }

  header .nav-wrap nav {
    /* background-color: orange; */
    /* flex-direction: column; */
  }

  header .top-nav {
    display: block;
    overflow: hidden;
    background-color: #000;
    opacity: 80%;
    position: relative;
  }

  .top-nav #myLinks {
    display: none;
    background-color: #795e2c;

    opacity: none;
  }

  .top-nav #myLinks a {
    color: white;
    padding: 1em;
    text-decoration: none;
    font-size: 1em;
    display: block;
  }

  .top-nav #myLinks a:hover {
    background-color: #ddd;
    color: black;
  }

  .top-nav span.icon {
    position: absolute;
    display: block;
    padding: 1em;
    /* background: black; */
    color: white;
    right: 0;
    top: 0;
  }

  .top-nav span:active {
    color: #9b7735;
  }

  .top-nav span.logo {
    color: white;
    /* padding: 1em 1em; */
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .top-nav span.logo img {
    width: 150px;
  }

  .footer .footer-wrap {
    grid-template-columns: auto;
  }
  .footer-copyright {
    flex-direction: column;
    align-items: center;
  }
}
